<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
    <style>
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");
* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease;
}

body {
  background: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color:  rgb(189, 236, 205);

  width:75%;
}

form {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
form div, form label, form input, form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label, input, textarea {
  padding: 8px;
}

label, [placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input, textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
  
}
input:focus, textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: #2f4ad0;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
button:hover {
  letter-spacing: 2px;
  box-shadow: none;
}

.social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
:not(.social-media) {
  font-size: 14px;
}
.social-media span {
  font-size: 16px;
}
.social-media span .fas {
  margin: 0 0 0 10px;
}
.social-media a {
  color: #000;
  font-size: 20px;
}

@media (max-width: 425px) {
  form {
    width: 100%;
  }
}
        
    </style>
</head>
<body>
    <div class="container" style="background-color:rgb(99, 223, 99);width: 50%;">
        <div class="pic" style="width:54%;border: 5px solid rgb(51, 189, 97); background-color: green; height:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <img src="/uplod/vegimages/<%= product[0].img %>">
            
        </div>
        <form  action="orderpro" method="post" style="width:54%; background-color: rgb(185, 221, 185);">
            <div class="field" tabindex="2">
                <label for="vegname">
                    <i class="far fa-envelope"></i>Product Name:
                </label>
                <input name="vegname" type="text" value="<%= product[0].catagory %>" disabled="disabled">
            </div>
            <div class="field" tabindex="1">
                <label for="username">
                    <i class="far fa-user"></i>Product count
                </label>
                <input name="count" type="text" value="<%= count %>" disabled="disabled">
            </div>
            <div class="field" tabindex="2">
                <label for="price">
                    <i class="far fa-envelope"></i>Price:
                </label>
                <input name="price" type="text" value="<%= product[0].price%>" disabled="disabled">
            </div>
            <div class="field" tabindex="2">
                <label for="total">
                    <i class="far fa-envelope"></i>Final Amount:
                </label>
                <input name="total" type="text" value="<%= total %>" disabled="disabled">
            </div>
            

            <div class="hdn" style="visibility: hidden; height: 0px;" >
                <input name="vegname" type="text" value="<%= product[0].catagory %>"> 
                <input name="count" type="text" value="<%= count %>" >
                <input name="price" type="text" value="<%= product[0].price%>" >
                <input name="total" type="text" value="<%= total %>">
               
                <input name="fphone" type="text" value="<%= product[0].fphone %>" required>
                <input name="cphone" type="text" value="<%= acn[0].phone %>" required>
                <input name="vegid" type="text" value="<%= product[0]._id  %>" required>
                <input name="approved" type="text" value="no" required>
                <input name="delivered" type="text" value="no" required>

            </div>
            <button type="submit">Order Now</button>
            
        </form>
    </div>
    
    <!-- This is not part of Pen -->
    <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>
</body>
</html>